* text=auto

/CLAUDE.md export-ignore
/.claude export-ignore
/.ci-tools export-ignore
/.github export-ignore
/bin export-ignore
/docs export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.gitsplit.yml export-ignore
/castor.php export-ignore

/link export-ignore
/babel.config.cjs export-ignore
/eslint.config.js export-ignore
/jest.config.cjs export-ignore
/rollup.config.cjs export-ignore
/tsconfig.json export-ignore
/package.json export-ignore
/package-lock.json export-ignore
