{
    "timeout": 20,
    "source": {
        "directories": [
            "src/u2f",
            "src/webauthn",
            "src/symfony"
        ],
        "exclude": [
            "src\/*\/tests"
        ]
    },
    "mutators": {
        "@default": true,
        "MethodCallRemoval": false
    },
    "logs": {
        "text": "infection-log.txt"
    }
}
