{
    "timeout": 20,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "src/*/tests"
        ]
    },
    "mutators": {
        "@default": true,
        "@function_signature": true
    },
    "logs": {
        "text": "infection-log.txt"
    }
}
