parameters:
    level: 7
    paths:
        - src
    excludes_analyse:
        - %currentWorkingDirectory%/src/*/tests/*
        - %currentWorkingDirectory%/src/*/var/*
    ignoreErrors:
        - '#Parameter \#2 $id of method Symfony\\Component\\DependencyInjection\\ContainerBuilder::setAlias\(\) expects string|Symfony\\Component\\DependencyInjection\\Alias, Webauthn\\PublicKeyCredentialSourceRepository given\.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::(.*)\(\)#'
        - '#Call to function method_exists\(\) with Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder and (.*) will always evaluate to true\.#'
        - '#Parameter \#1 \$serialized \(string\) of method (.*)::unserialize\(\) should be contravariant with parameter \$serialized \(mixed\) of method Symfony\\Component\\Security\\Core\\Authentication\\Token\\AbstractToken::unserialize\(\)#'
        - '#Instantiation of deprecated class Jose\\Component\\Core\\Converter\\StandardConverter\.#'
        - '#Call to method find\(\) of deprecated class Http\\Discovery\\MessageFactoryDiscovery\.#'
        - '#Parameter (.*) of class FG\\ASN1\\Universal\\Integer constructor expects int, string given\.#'
        - '#Fetching class constant class of deprecated class Webauthn\\CredentialRepository\.#'
        - '#Interface Webauthn\\PublicKeyCredentialSourceRepository extends deprecated interface Webauthn\\CredentialRepository\.#'
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
