parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        - '#Parameter \#1 \$key of function openssl_pkey_get_details expects OpenSSLAsymmetricKey, resource given\.#'
        -
            message: '#Method Webauthn\\Bundle\\DependencyInjection\\Factory\\Security\\WebauthnFactory::.*\(\) has parameter \$config(s)? with no value type specified in iterable type array\.#'
            path: src/symfony/src/DependencyInjection/Factory/Security/WebauthnFactory.php
            count: 2
        -
            message: '#Method Webauthn\\Bundle\\DependencyInjection\\WebauthnExtension::.*\(\) has parameter \$config(s)? with no value type specified in iterable type array\.#'
            path: src/symfony/src/DependencyInjection/WebauthnExtension.php
            count: 2
        -
            message: '#Method Webauthn\\Bundle\\Security\\Authorization\\Voter\\IsUserPresentVoter::vote\(\) has parameter \$attributes with no value type specified in iterable type array\.#'
            path: src/symfony/src/Security/Authorization/Voter/IsUserPresentVoter.php
            count: 1
        -
            message: '#Method Webauthn\\Bundle\\Security\\Authorization\\Voter\\IsUserVerifiedVoter::vote\(\) has parameter \$attributes with no value type specified in iterable type array\.#'
            path: src/symfony/src/Security/Authorization/Voter/IsUserVerifiedVoter.php
            count: 1
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::(.*)\(\)#'
            path: src/symfony/src/DependencyInjection/Configuration.php
            count: 1
        -
            message: '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
            path: src/symfony/src/DependencyInjection/Factory/Security/WebauthnFactory.php
            count: 1
#    checkMissingIterableValueType: true
#    checkGenericClassInNonGenericObjectType: true
#    checkUninitializedProperties: true
    treatPhpDocTypesAsCertain: false
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
