<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <coverage />
    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="10.1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
        <env name="APP_DEBUG" value="true"/>
        <server name="KERNEL_CLASS" value="Webauthn\Tests\Bundle\Functional\AppKernel"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <source>
        <include>
            <directory>src/</directory>
            <directory>src/symfony/src/Resources/config</directory>
        </include>
        <exclude>
            <file>src/symfony/src/Controller/DummyController.php</file>
            <file>src/symfony/src/Controller/DummyControllerFactory.php</file>
            <file>src/symfony/src/Repository/DummyPublicKeyCredentialSourceRepository.php</file>
            <file>src/symfony/src/Repository/DummyPublicKeyCredentialUserEntityRepository.php</file>
        </exclude>
    </source>
</phpunit>
